<div class="content">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-pages="parallax">
        <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
            <div class="inner">
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/customer/">Customers</a></li>
                    <li><a href="/customer/<%= customer.id %>"
                           class="active"><%= customer.first_name %> <%= customer.last_name %></a></li>
                </ul>
                <!-- END BREADCRUMB -->

                <div class="container-md-height m-b-20">
                    <div class="row row-md-height">
                        <div class="col-lg-3 col-md-3 col-md-height col-middle">

                            <div class="full-height">
                                <div class="panel-body">
                                    <img class="demo-mw-500"
                                         src="https://dummyimage.com/300x300/777/fff.png&text=Customer+profile+img"
                                         alt="">
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-9 col-md-height col-md-9 col-top">

                            <div class="panel panel-transparent">
                                <div class="panel-heading">
                                    <div class="panel-title">Customer info
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <h3><%= customer.first_name %> <%= customer.last_name %></h3>
                                    <p>
                                        E-mail: <%= customer.email %><br/>
                                        Language: <%= customer.language %>

                                    </p>
                                    <p>
                                        <a href="/customer/edit/<%= customer.id %>" class="btn btn-primary btn-cons">Edit</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END JUMBOTRON -->
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- BEGIN PlACE PAGE CONTENT HERE -->
        <div class="row p-b-30">
            <div class="col-md-1">
                <form action="/order/new" method="post">
                    <div class="row">
                        <input type="hidden" class="form-control" value="<%= customer.id %>" name="owner" required>
                        <input type="submit" value="Add new order" class="btn btn-primary btn-cons">
                    </div>
                </form>
            </div>
            <div class="col-md-1">
                <form action="/visit/new" method="post">
                    <div class="row">
                        <input type="hidden" class="form-control" value="<%= customer.id %>" name="owner" required>
                        <input type="submit" value="Add new visit" class="btn btn-primary btn-cons">
                    </div>
                </form>
            </div>
        </div>

        <div class="panel">
            <ul class="nav nav-tabs nav-tabs-simple">
                <li class="active">
                    <a data-toggle="tab" href="#tab2hellowWorld">Stay history</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab2FollowUs">Order history</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab2Inspire">Survey history</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab2hellowWorld">
                    <div class="row column-seperation">
                        <div class="col-md-12">
                            <table class="table">
                                <tr>
                                    <th>Check in</th>
                                    <th>Check out</th>
                                    <th>Agency name</th>
                                    <th>Hotel name</th>
                                    <th></th>
                                </tr>

                                <% _.each(customer.visits, function(visit) { %>
                                <tr data-id="<%= visit.id %>" data-model="visit">
                                    <td><%= visit.checkin %></td>
                                    <td><%= visit.checkout %></td>
                                    <td><%= visit.agency_name %></td>
                                    <td><%= visit.hotel_name %></td>
                                    <td><a href="/visit/destroy/<%= visit.id %>"
                                           class="btn btn-sm btn-danger btn-cons pull-right">Delete</a><a
                                                href="/visit/edit/<%= visit.id %>"
                                                class="btn btn-sm btn-info btn-cons pull-right">Edit</a><a
                                                href="/visit/show/<%= visit.id %>"
                                                class="btn btn-sm btn-primary btn-cons pull-right">View</a></td>
                                </tr>
                                <% });;;;;;;;; %>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2FollowUs">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Cost</th>
                                    <th></th>
                                </tr>

                                <% _.each(customer.orders, function(order) { %>
                                <tr data-id="<%= order.id %>" data-model="order">
                                    <td><%= order.name %></td>
                                    <td><%= order.total %></td>
                                    <td><a href="/order/destroy/<%= order.id %>"
                                           class="btn btn-sm btn-danger btn-cons pull-right">Delete</a><a
                                                href="/order/edit/<%= order.id %>"
                                                class="btn btn-sm btn-info btn-cons pull-right">Edit</a><a
                                                href="/order/show/<%= order.id %>"
                                                class="btn btn-sm btn-primary btn-cons pull-right">View</a></td>
                                </tr>
                                <% });;;;;;; %>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2Inspire">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                Follow us &amp; get updated!
                            </h3>
                            <p>
                                Instantly connect to what's most important to you. Follow your
                                friends, experts, favorite celebrities, and breaking news.
                            </p><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-b-20">
            <div class="col-md-12">

            </div>
        </div>


        <!-- END PLACE PAGE CONTENT HERE -->
    </div>
    <!-- END CONTAINER FLUID -->
</div>


